* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, 'Microsoft YaHei', sans-serif;
  color: #fff;
  background: #313c4f;
}

a {
  color: #8f969c;
  text-decoration: none;
}

#float-layer {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

#float-layer > * {
  pointer-events: auto;
}
